html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  padding: 2em;
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
}

footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
}

footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

label {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

input,
textarea {
  border: 2px solid rgba(0, 160, 184);
  border-radius: 10px;
  padding: 1em;
  margin-bottom: 1em;
  background-color: transparent;
  font: inherit;
  color: #00a0b8;
  outline: 0 none;
}

button {
  cursor: pointer;
  background-color: rgba(0, 160, 184);
  color: white;
  font-weight: 700;
  font-size: 16px;
  border: 2px solid rgba(0, 160, 184);
  border-radius: 10px;
  padding: 0.85em;
}
